<div class="container" >
    <h3>Tạo mới sản phẩm</h3>

    <form action="">
        <div>
            <span class="form-label" > ID</span>
            <input class="form-control" type="text" placeholder="VD: DM001" ng-model="product.id" disabled>
        </div >
        <div>
            <span class="form-label"> Tên Danh Mục</span>
            <input class="form-control" type="text" placeholder="Nhập tên Danh Mục" ng-model="product.ten">
        </div >     
        <div class="mt-3">
            <span class="form-label"> Trạng Thái</span>
            <select class="form-control" ng-model="product.trangThaiDM"> 
                <option value=" "> Lựa chọn</option>
                <option value="Mở">  Mở</option>
                <option value="Đóng">  Đóng</option>
            </select>
        </div>
        <div ng-if="formInValid" class="text-danger">
            {{formInValidMessage}}
        </div>
        <div class="mt-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-success" ng-click="onClickCreate()"> Sửa</button>
        </div>
    </form>
</div>